<div class="modal-header">
    <button type="button" class="close danger" data-dismiss="modal"
            aria-hidden="true" ng-click="vm.close()">&times;
    </button>

    <div class="btn-toolbar btn-toolbar-xs" role="toolbar">

        <button type="button" class="btn btn-primary btn-xs" ng-click="vm.save()">Update</button>
        <button type="button" class="btn btn-primary btn-xs" ng-click="vm.delete()">Delete</button>
        <button type="button" class="btn btn-primary btn-xs" ng-click="vm.clearRestart()">Clear Restart</button>

        <button type="button" class="btn btn-primary btn-xs">Close</button>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <div class="row">
                    <!-- <div class="pull-left">
                         <h5>
                             <strong>{{vm.contactPrivileges.contact.fullName}}</strong>
                         </h5>
                     </div>-->
                    <div class="pull-left">

                        <div class="input-group">

                               <span class="input-group-btn">
                                   <button type="button" class="btn btn-primary btn-xs"
                                           ng-click="vm.openModal('field_vm.projects.execs_change')">
                                       <span class="glyphicon glyphicon-list-alt"></span></button>
                                </span>
                            <input id="field_vm.contacts.contactCompany" name="companyContact"
                                   ng-model="vm.contactPrivileges.contactPrivileges.contact.fullName"
                                   class="input-xs">
                        </div>

                    </div>
                    <div class="pull-right">
                        <h5>
                            <strong>Permission(s)</strong>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <tr>
                            <td class="extra-small">User Can be Exec</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.exec"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.exec"></td>
                            <td class="extra-small">Internal Film Solutions User</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.internal"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.internal"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Image Captioning Allowed</td>
                            <td><input type="checkbox"
                                       ng-model="vm.contactPrivileges.contactPrivileges.captioning"
                                       ng-init="vm.contactPrivileges.contactPrivileges.captioning"></td>
                            <td class="extra-small">Is Vendor</td>
                            <td><input type="checkbox"
                                       ng-model="vm.contactPrivileges.contactPrivileges.vendor"
                                       ng-init="vm.contactPrivileges.contactPrivileges.vendor"></td>


                        </tr>

                        <tr>
                            <td class="extra-small">User can Email</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.email"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.email"></td>
                            <td class="extra-small">User can Print</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.print"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.print"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">User can see only Locked Approved</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.lockApproveRestriction"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.lockApproveRestriction"></td>
                            <td class="extra-small">Download Privilege</td>
                            <td class="small">
                                <!-- <select
                            ng-model="vm.contactPrivileges.downloadType"
                            ng-init="vm.contactPrivileges.downloadType">
                                <option value="0" selected>NONE</option>
                                <option value="1">ALL</option>
                                <option value="2">Locked Approved</option>
                        </select> --> <select ng-model="vm.contactPrivileges.contactPrivileges.downloadType"
                                              ng-options="excl.id as excl.value for excl in vm.downloadType">
                                <option>{{excl.value}}</option>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="extra-small">Has Watermark</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.watermark"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.watermark"></td>
                            <td class="extra-small">Enable Priority Pix</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.priorityPix"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.priorityPix"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Watermark tranparency (outer)</td>
                            <td class="small"><input type="text" class="input-xs"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.watermarkOuterTransparency"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.watermarkOuterTransparency"></td>
                            <td class="extra-small">Enable Release All/Exclude All</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.releaseExclude"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.releaseExclude"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Watermark tranparency (inner)</td>
                            <td class="small"><input type="text" class="input-xs"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.watermarkInnerTransparency"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.watermarkInnerTransparency"></td>
                            <td class="extra-small">Can See Sensitive Images</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.viewSensitive"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.viewSensitive"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Exclusives Management</td>
                            <td class="small">
                                <!-- <select
                            ng-model="vm.contactPrivileges.exclusives"
                            ng-init="vm.contactPrivileges.exclusives">
                                <option value="0" class="extra-small" selected>NONE</option>
                                <option value="1" class="extra-small">BASIC</option>
                                <option value="2" class="extra-small">MASTER</option>
                        </select> --> <select ng-model="vm.contactPrivileges.contactPrivileges.exclusives"
                                              ng-options="excl.id as excl.value for excl in vm.exclusives">
                                <option>{{excl.value}}</option>
                            </select>

                            </td>
                            <td class="extra-small">Can See Unpublished/Hidden</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.seesUntagged"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.seesUntagged"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">View Only (ABC)</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.isABCViewer"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.isABCViewer"></td>
                            <td class="extra-small">Disabled</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.disabled"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.disabled"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Welcome Message (ABC)</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.welcomeMessage"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.welcomeMessage"></td>
                            <td class="extra-small">Expire Date</td>
                            <td class="small"><input type="date" class="input-xs"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.expireDate"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Has Talent Management (ABC)</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.talentManagement"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.talentManagement"></td>
                            <td class="extra-small">Can see finalized Images</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.showFinalizations"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.showFinalizations"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Has SignOff Management (ABC)</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.signoffManagement"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.signoffManagement"></td>
                            <td class="extra-small">Read Only :</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.readOnly"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.readOnly"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Has Wide Edit Management (ABC)</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.datgeditManagement"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.datgeditManagement"></td>
                            <td class="extra-small">Global Album Permissions</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.globalAlbum"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.globalAlbum"></td>
                        </tr>
                        <tr>
                            <td class="extra-small">Critique It</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.critiqueIt"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.critiqueIt"></td>
                            <td class="extra-small">Has Video</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.hasVideo"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.hasVideo"></td>
                        </tr>

                        <tr>
                            <td class="extra-small">Adhoc Link</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.adhocLink"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.adhocLink"></td>
                            <td class="extra-small">Retouch</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.retouch"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.retouch"></td>
                        </tr>

                        <tr>
                            <td class="extra-small">File Upload</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.fileUpload"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.fileUpload"></td>
                            <td class="extra-small">Delete Assets</td>
                            <td class="small"><input type="checkbox"
                                                     ng-model="vm.contactPrivileges.contactPrivileges.deleteAssets"
                                                     ng-init="vm.contactPrivileges.contactPrivileges.deleteAssets"></td>
                        </tr>

                    </table>
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <tr>
                            <td class="extra-small">Default Album

                                <div class="input-group">

                               <span class="input-group-btn">
                                   <button type="button" class="btn btn-primary btn-xs"
                                           ng-click="vm.getAlbums('defaultAlbum')">
                                       <span class="glyphicon glyphicon-list-alt"></span></button>
                                </span>
                                    <input name="companyContact"
                                           ng-model="vm.defaultAlbum.value"
                                           class="input-xs">
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="extra-small">User Can View Named Album &nbsp;<a href=""
                                                                                       ng-click="vm.namedAlbum('namedAlbum')"><span
                                class=" glyphicon glyphicon-plus-sign text-success small"></span></a>
                            </td>

                            <td class="extra-small">User Represents Named Actor &nbsp;<a href=""
                                                                                         ng-click="vm.namedActor(vm.contactPrivileges.project.id)"><span
                                class=" glyphicon glyphicon-plus-sign text-success small"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div ng-repeat=" item in vm.namedAlbumList">
                                    <h5>
                                        <a href="" ng-click="vm.removeAlbums($index)">
                                            <span class=" glyphicon glyphicon-remove-circle text-danger"></span>
                                        </a> &nbsp; &nbsp;{{item.value}}
                                    </h5>
                                </div>

                            </td>
                            <td>
                                <div ng-repeat=" item in vm.namedActorList">
                                    <div ng-if="item.type != null">
                                        <h5>
                                            <a href="" ng-click="vm.removeActors($index)">
                                                <span class=" glyphicon glyphicon-remove-circle text-danger"></span>
                                            </a> &nbsp; &nbsp;{{item.type}}
                                        </h5>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
