<form name="modal" role="form" novalidate ng-submit="">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.close()">&times;</button>
        <h4 class="modal-title" id="myContactsLabel" translate="smartLpcApp.contacts.home.title">Contacts</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-9">
                <jhi-alert></jhi-alert>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 no-padding-left">
                            <button class="btn btn-primary btn-sm" ui-sref="contacts.new">
                                <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="smartLpcApp.contacts.home.createLabel">
                        Create new Contacts
                    </span>
                            </button>
                        </div>
                        <div class="col-xs-2" ng-if="vm.contactsDTO.length == 0">
                            <h5 class="text-danger extra-small"><strong>No Data Found</strong></h5>

                        </div>
                        <div class="col-xs-8 no-padding-right">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group pull-right">

                                    <input type="text" class="form-control input-sm" ng-model="vm.searchQuery"
                                           id="searchQuery"
                                           placeholder="{{ 'smartLpcApp.contacts.home.search' | translate }}">

                                <span class="input-group-btn width-min">
                                <button class="btn btn-info btn-sm" ng-click="vm.search(vm.searchQuery)">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>

                                <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                                <button class="btn btn-info btn-xs" ng-click="vm.clear()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                </span>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="jh-table table table-hover">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th></th>
                            <th jh-sort-by="id">
                                <small><span translate="global.field.id">ID</span> <span
                                    class="glyphicon glyphicon-sort"></span></small>
                            </th>

                            <th jh-sort-by="fullName">
                                <small><span translate="smartLpcApp.contacts.fullName">FullName</span> <span
                                    class="glyphicon glyphicon-sort"></span></small>
                            </th>
                            <th jh-sort-by="title">
                                <small><span translate="smartLpcApp.contacts.title">Title</span> <span
                                    class="glyphicon glyphicon-sort"></span></small>
                            </th>
                            <th jh-sort-by="email">
                                <small><span translate="smartLpcApp.contacts.email">Email</span> <span
                                    class="glyphicon glyphicon-sort"></span></small>
                            </th>

                            <th jh-sort-by="phoneOffice">
                                <small><span translate="smartLpcApp.contacts.phoneOffice">PhoneOffice</span>
                                    <span class="glyphicon glyphicon-sort"></span>
                                </small>
                            </th>
                            <th jh-sort-by="phoneMobile">
                                <small><span translate="smartLpcApp.contacts.phoneMobile">PhoneMobile</span>
                                    <span class="glyphicon glyphicon-sort"></span></small>
                            </th>
                            <th jh-sort-by="type.textValue">
                                <small><span translate="smartLpcApp.contacts.type">type</span> <span
                                    class="glyphicon glyphicon-sort"></span></small>
                            </th>
                            <th jh-sort-by="companyContact.fullName">
                                <small><span translate="smartLpcApp.contacts.companyContact">companyContact</span>
                                    <span class="glyphicon glyphicon-sort"></span></small>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="contacts in vm.contactsDTO track by contacts.id">

                            <!--<td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                ng-click="vm.selectedContact({id:contacts.id})"
                                                class="btn btn-success btn-xs">

                                            <span class="hidden-xs hidden-sm"></span>Select
                                        </button>
                                    </div>
                                </td>-->
                            <td><input type="checkbox" ng-click="vm.selectContact(contacts)"
                                       ng-model="vm.selectedCheckBox[contacts.id]"></td>
                            <td>
                                <small><a ui-sref="contacts-detail({id:contacts.id})">{{contacts.id}}</a></small>
                            </td>

                            <td>
                                <small>{{contacts.fullName}}</small>
                            </td>
                            <td>
                                <small>{{contacts.title}}</small>
                            </td>
                            <td>
                                <small>{{contacts.email}}</small>
                            </td>

                            <td>
                                <small>{{contacts.phoneOffice}}</small>
                            </td>

                            <td>
                                <small>{{contacts.phoneMobile}}</small>
                            </td>

                            <td>
                                <small><a
                                    ui-sref="lookups-detail({id:contacts.type.id})">{{contacts.type.textValue}}</a>
                                </small>
                            </td>

                            <td>
                                <small><a ui-sref="contacts-detail({id:contacts.companyContact.id})">{{contacts.companyContact.fullName}}</a>
                                </small>
                            </td>


                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center">
                    <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                                    ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="well">
                        <fieldset>
                            <legend><h5><strong>Privileges</strong></h5></legend>
                        </fieldset>
                        <table>
                            <tr>
                                <td class="extra-small">Download Privilege:</td>
                                <td class="small">
                                    <select ng-model="vm.downloadType" ng-init="vm.downloadType=0">
                                        <option value="0" class="extra-small" selected>
                                            NONE
                                        </option>
                                        <option value="1" class="extra-small">ALL</option>
                                        <option value="2" class="extra-small">LOCKAPPROVED</option>
                                    </select>
                                </td>
                            </tr>
                            <!--<tr>
                                <td class="extra-small">Exclusives:</td>
                                <td class="small">
                                    <select ng-model="vm.exclusives" ng-init="vm.exclusives=0">
                                        <option value="0" class="extra-small" selected>
                                            NONE
                                        </option>
                                        <option value="1" class="extra-small">BASIC</option>
                                        <option value="2" class="extra-small">MASTER</option>
                                    </select>
                                </td>
                            </tr>-->
                            <tr>
                                <td class="extra-small">User can Print:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.print"
                                                               ng-init="vm.print=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Image Captioning Allowed:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.captioning"
                                                               ng-init="vm.captioning=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">User can email:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.email"
                                                               ng-init="vm.email=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Has Talent Management:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.talentManagement"
                                                               ng-init="vm.talentManagement=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Has SignOff Management:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.signoffManagement"
                                                               ng-init="vm.signoffManagement=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Enable Priority Pix:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.priorityPix"
                                                               ng-init="vm.priorityPix=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Enable Release All/Exclude All:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.releaseExclude"
                                                               ng-init="vm.releaseExclude=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Is Vendor:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.vendor"
                                                               ng-init="vm.vendor=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">User can see only Locked Approved:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.lockApproveRestriction"
                                                               ng-init="vm.lockApproveRestriction=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Can See Sensitive Images:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.viewSensitive"
                                                               ng-init="vm.viewSensitive=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Has Video:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.hasVideo"
                                                               ng-init="vm.hasVideo=false"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Disabled:</td>
                                <td class="extra-small"><input type="checkbox" ng-model="vm.disabled"
                                                               ng-init="vm.disabled=false"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="well">
                        <fieldset>
                            <legend><h5><strong>Filters</strong></h5></legend>
                        </fieldset>
                        <table>
                            <tr>
                                <td class="extra-small">Project Name:</td>
                                <td><input type="text" class="input-xs" ng-model="vm.filterQuery"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Contact Company:</td>
                                <td><input type="text" class="input-xs"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Contact FullName:</td>
                                <td><input type="text" class="input-xs"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Contact Username:</td>
                                <td><input type="text" class="input-xs"></td>
                            </tr>
                            <tr>
                                <td class="extra-small">Contact Email:</td>
                                <td><input type="text" class="input-xs"></td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="vm.runFilter()">Run Filter</button>
                    </div>
                </div>

                <div class="row">
                    <td>
                        <button type="button" class="btn btn-xs btn btn-info pull-right"
                                ng-click="vm.addSelected()">Add Contacts
                        </button>
                    </td>
                </div>
                <div ng-repeat="selectedContact in vm.selectedContacts">


                    <h5 class="extra-small"><a href="" ng-click="vm.removeSelected($index)"><span
                        class="glyphicon glyphicon-trash text-danger extra-small"></span></a>


                        {{$index+1}} :
                        <strong>{{selectedContact.fullName}}</strong>
                    </h5>


                </div>

            </div>
        </div>
    </div>

</form>
