<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary btn-sm" ui-sref="contacts.add">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="smartLpcApp.contacts.home.createLabel">
                        Create new Contacts
                    </span>
                </button>

            </div>

            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control input-sm" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'smartLpcApp.contacts.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info btn-sm" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info btn-sm" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8 no-padding-right" ng-if="vm.contactsDTO.length == 0">
                <h5 class="text-danger extra-small"><strong>No Data Found</strong></h5>
            </div>
        </div>

    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th class="small"></th>

                            <th jh-sort-by="fullName"><span translate="smartLpcApp.contacts.fullName"
                                                            class="small">FullName</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="title"><span translate="smartLpcApp.contacts.title"
                                                         class="small">Title</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="email"><span translate="smartLpcApp.contacts.email"
                                                         class="small">Email</span> <span
                                class="glyphicon glyphicon-sort"></span></th>

                            <th jh-sort-by="phoneOffice"><span translate="smartLpcApp.contacts.phoneOffice"
                                                               class="small">PhoneOffice</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="phoneMobile"><span translate="smartLpcApp.contacts.phoneMobile"
                                                               class="small">PhoneMobile</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="type.textValue"><span translate="smartLpcApp.contacts.type"
                                                                  class="small">type</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="companyContact.fullName"><span
                                translate="smartLpcApp.contacts.companyContact"
                                class="small">companyContact</span>
                                <span class="glyphicon glyphicon-sort"></span></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="contacts in vm.contactsDTO track by contacts.id">
                            <td class="small"><input type="checkbox" class="input-sm"
                                                     ng-click="vm.selectChecked(contacts)"
                                                     ng-model="vm.selectedCheckBox[contacts.id]"></td>
                            <td class="small"><a ui-sref="contacts-detail({id:contacts.id})">{{contacts.fullName}}</a></td>

                            <td class="small">{{contacts.title}}</td>
                            <td class="small">{{contacts.email}}</td>

                            <td class="small">{{contacts.phoneOffice}}</td>

                            <td class="small">{{contacts.phoneMobile}}</td>

                            <td class="small">
                                <a ui-sref="lookups-detail({id:contacts.type.id})">{{contacts.type.textValue}}</a>
                            </td>

                            <td class="small">
                                <a ui-sref="contacts-detail({id:contacts.companyContactId})">{{contacts.companyContactFullName}}</a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                                    ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="well">

                    <h4 class="text-center"><strong>Filters</strong></h4>
                    <hr>
                    <!--<div class="row">

                        <label class="small">
                            <small>Project Name:
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
                        </label>
                        <input name="pn" class="small"/>
                    </div>-->
                    <div class="row">

                      <!--  <td>
                            <label class="extra-small">Project Name:</label>
                        </td>-->
                        <td>
                            <input name="pn" type="text" class="small" ng-model="vm.filter" placeholder="Project Name"/>
                        </td>
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-xs btn btn-success pull-left" ng-click="vm.searchFilter()">Run Filter</button>
                        </div>
                       <!-- <div class="col-lg-3">
                            <label class="extra-small">Project Name:</label>
                        </div>
                        <div class="col-md-3">
                            <input name="pn" type="text" class="small"/>
                        </div>

                        <div class="col-md-3">
                            <button type="button" class="btn btn-xs btn btn-success pull-left">Run Filter</button>
                        </div>-->

                    </div>
                    <!--<div class="row">


                        <div class="col-sm-3">
                            <label class="extra-small">Contact Company:</label>
                        </div>
                        <div class="col-sm-3">
                            <input name="pn" type="text" class="extra-small"/>
                        </div>


                    </div>
                    <div class="row">


                        <div class="col-sm-3">
                            <label class="extra-small">Contact Full Name:</label>
                        </div>
                        <div class="col-sm-3">
                            <input name="pn" type="text" class="extra-small"/>
                        </div>


                    </div>
                    <div class="row">


                        <div class="col-sm-3">
                            <label class="extra-small">Contact Username:</label>
                        </div>
                        <div class="col-sm-3">
                            <input name="pn" type="text" class="extra-small"/>
                        </div>


                    </div>
                    <div class="row">


                        <div class="col-sm-3">
                            <label class="extra-small">Contact Email:</label>
                        </div>
                        <div class="col-sm-3">
                            <input name="pn" type="text" class="extra-small"/>
                        </div>


                    </div>-->

                    <hr>
                    <div class="row">
                        <td>

                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn btn-info pull-right"
                                    ng-click="vm.addSelected()">Add Contacts
                            </button>
                        </td>
                    </div>
                    <hr>

                    <div ng-repeat="selectedContact in vm.selectedContacts">


                        <h5 class="extra-small"><a href="" ng-click="vm.removeSelected($index)"><span
                            class="glyphicon glyphicon-trash text-danger extra-small"></span></a>


                            {{selectedContact.id}} :
                            <strong>{{selectedContact.fullName}}</strong>
                        </h5>


                    </div>

                </div>
            </div>

        </div>

    </div>

</div>
