<h2 align="center">Project</h2>

<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-xs btn btn-success"
                    ng-disabled="editForm.$invalid || isSaving">Save
            </button>

            <button type="button" ng-click="vm.saveAndClose()"
                    class="btn btn-xs btn btn-primary">Save and Close
            </button>

            <button type="button" ng-click="vm.saveAndNext()"
                    class="btn btn-xs btn btn-primary">Save and Next
            </button>

            <button type="button" ui-sref="projects.edit({id:vm.prevNext.prev})" ui-sref-opts="{reload: true, notify: true}" class="btn btn-xs btn btn-primary">Previous
            </button>
            <button type="button" ui-sref="projects.edit({id:vm.prevNext.next})" ui-sref-opts="{reload: true, notify: true}" class="btn btn-xs btn btn-primary">Next
            </button>

            <button type="button" class="btn btn-xs btn btn-primary" ng-click="vm.enableDisableProject('disable')">
                Disable
            </button>


            <a href="#" class="btn btn-xs btn btn-danger">Close</a>
            <button type="button" class="btn btn-xs btn btn-primary" ng-click="vm.rename(vm.projectsDTO.project)">Rename
                Project
            </button>


            <div class="pull-left" ng-if="vm.projectsDTO.projects.disabled == false">

            </div>
            <div class="pull-left" ng-if="vm.projectsDTO.projects.disabled == true">
                <button type="button" class="btn btn-xs btn btn-primary" ng-click="vm.enableDisableProject('enable')">
                    Enable
                </button>
            </div>
            <button type="button" class="btn btn-xs btn btn-success" ui-sref="projects-detail({id:vm.projectsDTO.projects.id})" ui-sref-opts="{reload: true, notify: true}">View</button>
            <button type="button" class="btn btn-xs btn btn-primary" ng-click="vm.getCount(vm.projectsDTO.projects)">GB
                Count
            </button>

            <button type="button" class="btn btn-xs btn btn-danger" ng-click="vm.delete()">Delete</button>
        </div>
    </div>
    <hr>
    <div class="row">

        <label class="col-xs-1 control-label small" for="field_name">Project
            Name </label>

        <div class="col-xs-2">
            <input id="field_name" name="textinput" type="text" placeholder=""
                   class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.name" readonly>
        </div>

        <div class="col-md-8">
            <label class="small"> <input type="checkbox"
                                         id="field.runOfShowFlag"
                                         ng-model="vm.projectsDTO.projects.runOfShowFlag"> &nbspRun
                of Show &nbsp
            </label> <label class="small"> <input type="checkbox" id="labCheck"
                                                  ng-model="vm.projectsDTO.projects.labFlag"> &nbspThe Lab
            &nbsp
        </label> <label class="small"> <input type="checkbox"
                                              ng-model="vm.projectsDTO.projects.template"> &nbspTemplate
            &nbsp
        </label> <label class="small"> <input type="checkbox"
                                              ng-model="vm.projectsDTO.projects.galleryview"> &nbspGallery
            View &nbsp
        </label> <label class="small"> <input type="checkbox"
                                              ng-model="vm.projectsDTO.projects.topLevelAlbums"> &nbspTop
            level Albums &nbsp
        </label> <label class="small"> <input type="checkbox"
                                              ng-model="vm.projectsDTO.projects.isAsset" readonly>
            &nbspAssets Project &nbsp
        </label> <label class="small"> <input type="checkbox"
                                              ng-model="vm.projectsDTO.projects.groupPlus"> &nbspGroup +
        </label>
        </div>

    </div>

    <div class="row">
        <label class="col-md-1 control-label small" for="field_fullName">FullName/New
            Name </label>
        <div class="col-sm-2">
            <input id="field_fullName" type="text" placeholder=""
                   ng-model="vm.projectsDTO.projects.fullName"
                   class="form-control input-sm" readonly>
        </div>

        <label class="col-md-1 control-label small"
               for="field_vm.projects.owner">Owner</label>
        <div class="col-md-2">
            <div class="input-group">

				<span class="input-group-btn">

					<button type="button"
                            ng-click="vm.openModal('field_vm.projects.owner')"
                            class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-list-alt"></span>
					</button>
				</span> <input id="field_vm.projects.owner" type="text"
                               class="form-control input-sm"
                               ng-model="vm.projectsDTO.projects.owner.fullName"
                               ng-click="vm.lookUpContact(vm.projectsDTO.projects.owner.id)" >
            </div>

        </div>

    </div>

    <div class="row">
        <label class="col-md-1 control-label small" for="field_alfrescoTitle1">Alfresco
            Title 1</label>
        <div class="col-sm-2">
            <input id="field_alfrescoTitle1" name="textinput" type="text"
                   ng-model="vm.projectsDTO.projects.alfrescoTitle1"
                   class="form-control input-sm" readonly>
        </div>

        <label class="col-md-1 control-label small" for="field_alfrescoTitle2">Alfresco
            Title 2</label>
        <div class="col-sm-2">
            <input id="field_alfrescoTitle2" name="textinput" type="text"
                   ng-model="vm.projectsDTO.projects.alfrescoTitle2"
                   class="form-control input-sm" readonly>
        </div>

    </div>

    <div class="row">
        <label class="col-md-1 control-label small" for="field_imageLocation">Image
            Location </label>
        <div class="col-sm-2">


            <input id="field_imageLocation" name="textinput" type="text"
                   ng-model="vm.projectsDTO.projects.imageLocation"
                   class="form-control input-sm" readonly>


        </div>

        <label class="col-md-1 control-label small"
               for="field_defaultDepartment">Department</label>
        <div class="col-sm-2">

				<select class="form-control input-sm"
                                ng-options="departments as departments.departmentName for departments in vm.departmentss track by departments.id"
                                id="field_defaultDepartment" name="defaultDepartment"
                                ng-model="vm.projectsDTO.projects.department"></select>
        </div>
    </div>

    <div class="row">

        <label class="col-md-1 control-label small" for="field_status">Status</label>
        <div class="col-sm-2">
            <div class="input-group">

				<span class="input-group-btn">
					<button type="button" ng-click="vm.addStatus()" class="btn btn-success btn-sm" >
						<span class="glyphicon glyphicon-plus "></span>
					</button>
				</span> <select class="form-control input-sm" name="status"
                                id="field_status" ng-model="vm.projectsDTO.projects.status"
                                ng-options="lookups as lookups.textValue for lookups in vm.status track by lookups.id"></select>
            </div>
        </div>
        <label class="col-md-1 control-label small" for="field_type">Type</label>
        <div class="col-sm-2">
            <select class="form-control input-sm" name="type" id="field_type"
                                ng-model="vm.projectsDTO.projects.type"
                                ng-options="lookups as lookups.textValue for lookups in vm.projectType track by lookups.id"></select>

        </div>

    </div>

    <div class="row">
        <label class="col-md-1 control-label small"
               for="field_actorsWithRights">Actors With Rights</label>
        <div class="col-sm-2">
            <input id="field_actorsWithRights" name="actorsWithRights"
                   type="text" ng-model="vm.projectsDTO.projects.actorsWithRights"
                   class="form-control input-sm">
        </div>

        <label class="col-md-1 control-label small" for="field_daysShooting">Days
            Shooting </label>
        <div class="col-sm-2">
            <input id="field_daysShooting" name="daysShooting" type="text"
                   ng-model="vm.projectsDTO.projects.daysShooting"
                   class="form-control input-sm">
        </div>

    </div>

    <div class="row">
        <label class="col-md-1 control-label small" for="field_weeksShooting">Weeks
            Shooting </label>
        <div class="col-sm-2">
            <input id="field_weeksShooting" name="weeksShooting" type="text"
                   placeholder="" ng-model="vm.projectsDTO.projects.weeksShooting"
                   class="form-control input-sm">
        </div>

        <label class="col-md-1 control-label small" for="field_startDate">Start
            Date </label>
        <div class="col-sm-2">
            <input name="startDate" type="date" id="field_startDate"
                   ng-model="vm.projectsDTO.projects.startDate"
                   class="form-control input-sm">
        </div>

        <label class="col-md-1 control-label small" for="field_endDate">End
            Date </label>
        <div class="col-sm-2">
            <input name="endDate" type="date" id="field_endDate" placeholder=""
                   ng-model="vm.projectsDTO.projects.endDate"
                   class="form-control input-sm">
        </div>

        <label class="col-md-1 control-label small" for="field_reminderDate">Reminder</label>
        <div class="col-sm-2">
            <input name="reminderDate" type="date" id="field_reminderDate"
                   ng-model="vm.projectsDTO.projects.reminderDate"
                   class="form-control input-sm">
        </div>
    </div>

    <div class="row">
        <label class="col-md-1 control-label small" for="field_invoiceCreated">Invoice
            Created </label>
        <div class="col-sm-2">
            <select class="form-control input-sm" id="field_invoiceCreated"
                    ng-model="vm.projectsDTO.projects.invoiceCreated">
                <option value="387">Yes</option>
                <option value="388">No</option>
                <option value="389">N/A</option>
            </select>
        </div>

        <label class="col-md-1 control-label small" for="field_price">Price</label>
        <div class="col-sm-2">
            <input id="field_price" name="price" type="text" placeholder=""
                   ng-model="vm.projectsDTO.projects.price"
                   class="form-control input-sm">
        </div>

        <label class="col-md-1 control-label small" for="field_foxTitle">WPR#(FOX)</label>
        <div class="col-sm-2">
            <input id="field_foxTitle" name="foxTitle" type="text" placeholder=""
                   ng-model="vm.projectsDTO.projects.foxTitle"
                   class="form-control input-sm">
        </div>

    </div>
    <div class="row">
        <label class="col-md-1 control-label small" for="field_projectHistory">Project
            History </label>
        <div class="col-sm-11">
            <textarea id="field_projectHistory" name="projectHistory" rows="2" type="text"
                      ng-model="vm.projectsDTO.projects.notes"
                      class="form-control input-sm">
            </textarea>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-3">
            <label class="small"> <input type="checkbox" value="">
                &nbspUse Unit Photographer &nbsp
            </label>
        </div>
        <div class="col-xs-2">
            <label class="small"> <input type="checkbox"
                                         ng-model="vm.projectsDTO.projects.unitPhotographerOverride">
                &nbspUse Alt. Photographer &nbsp
            </label>
        </div>
        <div ng-show="vm.projectsDTO.projects.unitPhotographerOverride">
            <label class="col-xs-2 control-label small" for="field_photoCredit">Alt.Photographer</label>
            <div class="col-xs-2">
                <input name="photoCredit" id="field_photoCredit" type="text"
                       ng-model="vm.projectsDTO.projects.photoCredit"
                       class="form-control input-sm">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2 col-xs-offset-3">
            <label class="small"> <input type="checkbox"
                                         ng-model="vm.projectsDTO.projects.shootDateOverride">
                &nbspUse Shoot Date &nbsp
            </label>
        </div>
        <div ng-show="vm.projectsDTO.projects.shootDateOverride">
            <label class="col-xs-2 control-label small" for="field_shootDate">Shoot
                Date </label>
            <div class="col-xs-2">
                <input name="shootDate" id="field_shootDate" type="date"
                       mg-model="vm.projectsDTO.projects.shootDate"
                       class="form-control input-sm">
            </div>
        </div>
    </div>

    <br>
    <div class="row">

        <div class="col-md-3">
            <label class="small"> <input type="checkbox"
                                         ng-model="vm.projectsDTO.projects.loginMessageActive">&nbsp&nbspEnable
                Reviewer Login Message &nbsp
            </label>
        </div>
        <label class="col-md-2 control-label small" for="field_loginMessage">
            Reviewer Login Message</label>
        <div class="col-md-7">
			<textarea class="form-control input-sm"
                      ng-model="vm.projectsDTO.projects.loginMessage" rows="1"
                      id="field_loginMessage"></textarea>
        </div>
    </div>

    <!--   RUN OF SHOW-->

    <hr>
    <div id="runOfShow" ng-show="vm.projectsDTO.projects.runOfShowFlag">

        <h4>
            Run of Show Purchase Orders &nbsp; &nbsp; <a
            ng-click="vm.runShowAdd()"><span
            class=" glyphicon glyphicon-plus-sign small text-primary "></span></a>
        </h4>

        <div ng-repeat="po in vm.projectsDTO.projectPurchaseOrderses">
            <div class="row">
                <div class="col-lg-2">
                    <div class="input-group">

                        </small><span class="input-group-addon input-sm"><small>PO
								{{$index+1}}</small></span> <input type="text" class="form-control input-sm"
                                                                 ng-model="po.po_number">
                    </div>
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control input-sm"
                           ng-model="po.po_notes">
                </div>

                <div class="col-lg-1">
					<span class="glyphicon glyphicon-trash text-danger small"
                          ng-click="vm.runShowRemove($index)"></span>
                </div>
            </div>

            </fieldset>

        </div>
        <hr>
    </div>

    <div id="labTasks" ng-show="vm.projectsDTO.projects.labFlag">
        <h4>Project Processing Profile</h4>
        <div class="row">
            <label class="col-md-2 control-label small" for="textinput">Deliveries</label>
            <div class="col-xs-2">

                <input id="field_processingDeliveries" name="textinput" type="text"
                       placeholder="" class="form-control input-sm"
                       ng-model="vm.projectsDTO.projects.processingDeliveries">

            </div>
        </div>
        <div class="row">
            <label class="col-md-2 control-label small" for="textinput">Special
                Instructions </label>
            <div class="col-xs-2">

                <input id="field_processingSpecialInstructions" name="textinput"
                       type="text" class="form-control input-sm"
                       ng-model="vm.projectsDTO.projects.processingSpecialInstructions">

            </div>
        </div>
        <div class="row">
            <label class="col-md-2 control-label small" for="textinput">Watermark</label>
            <div class="col-xs-2">

                <input id="field_processingWatermark" name="textinput" type="text"
                       class="form-control input-sm"
                       ng-model="vm.projectsDTO.projects.processingWatermark">

            </div>
        </div>
        <div class="row">
            <label class="col-md-2 control-label small" for="textinput">Copyright</label>
            <div class="col-xs-2">

                <input id="field_processingCopyright" name="textinput" type="text"
                       class="form-control input-sm"
                       ng-model="vm.projectsDTO.projects.processingCopyright">

            </div>
        </div>
        <div class="row">
            <label class="col-md-2 control-label small" for="textinput">Original
                File Type</label>
            <div class="col-xs-2">
                <select class="form-control input-sm" name="type"
                        ng-model="vm.projectsDTO.projects.processingOriginalFileType"
                        ng-options="lookups as lookups.textValue for lookups in vm.fileType track by lookups.id"></select>
            </div>
        </div>

        <h4>
            Lab Tasks &nbsp; &nbsp; <a href="" ng-click="vm.addlab()"><span
            class=" glyphicon glyphicon-plus-sign small text-primary "></span></a>
        </h4>
        <div id="labs">

            <div class="row">
                <div class="col-lg-5">
                    <div ng-repeat="labs in vm.projectsDTO.projectLabTaskses">
                        <div class="row">

                            <div class="col-lg-10">
                                <div class="input-group">

                                    <span class="input-group-addon input-sm" id="sizing-addon2">{{$index+1}}</span>

                                    <select class="form-control input-sm" id="field_task_name"
                                            name="task_name" ng-model="labs.task_name"
                                            ng-options="lookups as lookups.textValue for lookups in vm.labTask track by lookups.id">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <a href="" ng-click="vm.removelab($index)"><span
                                    class=" glyphicon glyphicon-trash text-danger"></span></a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <input type="text" class="form-control input-sm"
                               ng-model="vm.projectsDTO.projects.labProofNotes">
                        <h6>Proof/5x7 Notes</h6>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control input-sm"
                               ng-model="vm.projectsDTO.projects.labLastProofImageNumber">
                        <h6>Last Proof Image Number</h6>
                    </div>
                    <div class="row">
                        <input type="text" placeholder="" class="form-control input-sm"
                               ng-model="vm.projectsDTO.projects.labLastProofPageNumber">
                        <h6>Last Proof Page Number</h6>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control input-sm"
                               ng-model="vm.projectsDTO.projects.labImageNumberSchema">
                        <h6>Image Number Schema</h6>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control input-sm"
                               ng-model="vm.projectsDTO.projects.labFolderBatchSchema">
                        <h6>Folder/Batch Schema</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h4>Project Information</h4>
    <!--<div
        ng-repeat="mainC in vm.projectsDTO.projectRoles |  filter: { relationship_type: 'Main Contact'}">-->
    <div class="row">
        <label class="col-md-1 control-label text-danger small"
               for="field_vm.projects.mainContact">Main Contact</label>
        <div class="col-md-2">
            <div class="input-group">

					<span class="input-group-btn">

						<button type="button" id=""
                                ng-click="vm.openModal('field_vm.projects.mainContact')"
                                class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-list-alt"></span>
						</button>
					</span> <input id="field_vm.projects.mainContact" type="text"
                                   class="form-control input-sm" ng-model="vm.mainC.contact.fullName"
                                   ng-click="vm.lookUpContact(vm.mainC.contact.id)" readonly>
            </div>

        </div>
        <label class="col-md-1 control-label small">Title</label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.mainC.contact.title" readonly>

        </div>
    </div>

    <div class="row">
        <label class="col-xs-1 control-label small"> Office <span
            class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.mainC.contact.phoneOffice" readonly>

        </div>
        <label class="col-xs-1 control-label small"> Mobile</span>
        </label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.mainC.contact.phoneMobile" readonly>

        </div>
    </div>

    <div class="row">
        <label class="col-md-1 control-label small">Email</label>
        <div class="col-xs-2">

            <input name="text" type="text" placeholder=""
                   class="form-control input-sm" ng-model="mainC.contact.email"
                   readonly>

        </div>
    </div>
    <div class="row">

        <label class="col-md-1 control-label small">Notes</label>
        <div class="col-xs-7">
				<textarea class="form-control input-sm" rows="1"
                          ng-model="vm.mainC.contact.notes"></textarea>

        </div>

    </div>
    <!--    </div>-->
    <br>
    <!--    <div
            ng-repeat="uPub in vm.projectsDTO.projectRoles |  filter: { relationship_type: 'Unit Publicist'}">-->
    <div class="row">
        <label class="col-md-1 control-label text-danger small"
               for="field_vm.projects.unitPublicist">Unit Publicist</label>
        <div class="col-md-2">
            <div class="input-group">

					<span class="input-group-btn">

						<button type="button"
                                ng-click="vm.openModal('field_vm.projects.unitPublicist')"
                                class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-list-alt"></span>
						</button>
					</span> <input id="field_vm.projects.unitPublicist" type="text"
                                   class="form-control input-sm" ng-model="vm.uPub.contact.fullName"
                                   ng-click="vm.lookUpContact(vm.uPub.contact.id)"
                                   readonly>
            </div>

        </div>
        <label class="col-md-1 control-label small">Title</label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.uPub.contact.title" readonly>

        </div>
    </div>
    <div class="row">
        <label class="col-xs-1 control-label small"> Office <span
            class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.uPub.contact.phoneOffice" readonly>

        </div>
        <label class="col-xs-1 control-label small"> Mobile</span>
        </label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.uPub.contact.phoneMobile" readonly>

        </div>
    </div>
    <div class="row">
        <label class="col-md-1 control-label small">Email</label>
        <div class="col-xs-2">

            <input name="text" type="text" placeholder=""
                   class="form-control input-sm" ng-model="vm.uPub.contact.email"
                   readonly>

        </div>
    </div>
    <div class="row">

        <label class="col-md-1 control-label small">Notes</label>
        <div class="col-xs-7">
				<textarea class="form-control input-sm" rows="1"
                          ng-model="vm.uPub.contact.notes"></textarea>

        </div>

    </div>
    <!--    </div>-->
    <br>
    <!--<div
        ng-repeat="uPhoto in vm.projectsDTO.projectRoles |  filter: { relationship_type: 'Unit Photographer'}">-->
    <div class="row">
        <label class="col-md-1 control-label text-danger small"
               for="field_vm.projects.unitPhotographer">Unit Photographer</label>
        <div class="col-md-2">
            <div class="input-group">

					<span class="input-group-btn">

						<button type="button"
                                ng-click="vm.openModal('field_vm.projects.unitPhotographer')"
                                class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-list-alt"></span>
						</button>
					</span> <input id="field_vm.projects.unitPhotographer" type="text"
                                   class="form-control input-sm" ng-model="vm.uPhoto.contact.fullName"
                                   ng-click="vm.lookUpContact(vm.uPhoto.contact.id)"
                                   readonly>
            </div>

        </div>
        <label class="col-md-1 control-label small">Title</label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.uPhoto.contact.title" readonly>

        </div>
    </div>
    <div class="row">
        <label class="col-xs-1 control-label small"> Office <span
            class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.uPhoto.contact.phoneOffice" readonly>

        </div>
        <label class="col-xs-1 control-label small"> Mobile</span>
        </label>
        <div class="col-xs-2">

            <input name="text" type="text" class="form-control input-sm"
                   ng-model="vm.uPhoto.contact.phoneMobile" readonly>

        </div>
    </div>
    <div class="row">
        <label class="col-md-1 control-label small">Email</label>
        <div class="col-xs-2">

            <input name="text" type="text" placeholder=""
                   class="form-control input-sm" ng-model="vm.uPhoto.contact.email"
                   readonly>

        </div>
    </div>
    <div class="row">

        <label class="col-md-1 control-label small">Notes</label>
        <div class="col-xs-7">
				<textarea class="form-control input-sm" rows="1"
                          ng-model="vm.uPhoto.contact.notes"></textarea>

        </div>

    </div>
    <!--    </div>-->
    <br>
    <!--    <div
            ng-repeat="lab in vm.projectsDTO.projectRoles |  filter: { relationship_type: 'Lab'}">-->
    <div class="row">
        <label class="col-md-1 control-label text-danger small"
               for="field_vm.projects.labInfo">Lab Information</label>
        <div class="col-md-2">
            <div class="input-group">

					<span class="input-group-btn">

						<button type="button"
                                ng-click="vm.openModal('field_vm.projects.labInfo')"
                                class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-list-alt"></span>
						</button>
					</span> <input id="field_vm.projects.labInfo" type="text"
                                   class="form-control input-sm"
                                   ng-model="vm.lab.contact.fullName" ng-click="vm.lookUpContact(vm.lab.contact.id)" readonly>
            </div>

        </div>
    </div>
    <div class="row">
        <label class="col-xs-1 control-label small"> Office <span
            class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.lab.contact.phoneOffice" readonly>

        </div>
        <label class="col-md-1 control-label small">Email</label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.lab.contact.email" readonly>

        </div>
    </div>
    <div class="row">
        <label class="col-xs-1 control-label small">Address </label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.lab.contact.streetAddress" readonly>

        </div>
        <label class="col-xs-1 control-label small">City </label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.lab.contact.city" readonly/>

        </div>
        <label class="col-xs-1 control-label small">State </label>
        <div class="col-xs-1">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.lab.contact.state" readonly/>
        </div>
        <label class="col-xs-1 control-label small">Zip Code </label>
        <div class="col-xs-1">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.lab.contact.zipcode" readonly/>
        </div>
        <label class="col-xs-1 control-label small">Country </label>
        <div class="col-xs-1">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.lab.contact.country" readonly/>

        </div>
    </div>
    <div class="row">

        <label class="col-md-1 control-label small" for="textinput">Contact
            Notes </label>
        <div class="col-xs-7">
				<textarea class="form-control input-sm" rows="1"
                          ng-model="vm.lab.contact.notes" readonly></textarea>

        </div>

    </div>

    <br>
    <div class="row">

        <label class="col-md-1 control-label small" for="textinput">Notes</label>
        <div class="col-xs-7">
				<textarea class="form-control input-sm" rows="1"
                          ng-model="lab.notes"></textarea>

        </div>

    </div>
    </div>
    <hr>

    <div class="row">

        <label class="col-md-1 control-label small" for="textinput">Director</label>
        <div class="col-xs-2">
            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.legacyDirector">

        </div>

    </div>

    <div class="row">

        <label class="col-md-1 control-label small" for="textinput">Executive
            Producer </label>
        <div class="col-xs-2">
            <input type="text" placeholder="" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.legacyExecutiveProducer">

        </div>
        <label class="col-md-1 control-label small" for="textinput">Executive
            Producer </label>
        <div class="col-xs-2">
            <input type="text" placeholder="" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.legacyExecutiveProducer2">

        </div>

    </div>
    <div class="row">

        <label class="col-md-1 control-label small" for="textinput">Executive
            Producer </label>
        <div class="col-xs-2">
            <input type="text" placeholder="" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.legacyExecutiveProducer3">

        </div>
        <label class="col-md-1 control-label small" for="textinput">Executive
            Producer </label>
        <div class="col-xs-2">
            <input type="text" placeholder="" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.legacyExecutiveProducer4">

        </div>

    </div>

    <div class="row">

        <label class="col-md-1 control-label small" for="textinput">Producer</label>
        <div class="col-xs-2">
            <input name="legacyProducer" id="field_legacyProducer"
                   ng-model="vm.projectsDTO.projects.legacyProducer" type="text"
                   placeholder="" class="form-control input-sm">

        </div>
        <label class="col-md-1 control-label small" for="textinput">Producer</label>
        <div class="col-xs-2">
            <input name="legacyProducer2" id="field_legacyProducer2"
                   ng-model="vm.projectsDTO.projects.legacyProducer2" type="text"
                   placeholder="" class="form-control input-sm">

        </div>

    </div>

    <div class="row">

        <label class="col-md-1 control-label small" for="textinput">Producer</label>
        <div class="col-xs-2">
            <input name="legacyProducer3" id="field_legacyProducer3"
                   ng-model="vm.projectsDTO.projects.legacyProducer3" type="text"
                   placeholder="" class="form-control input-sm">

        </div>
        <label class="col-md-1 control-label small" for="textinput">Producer</label>
        <div class="col-xs-2">
            <input name="legacyProducer4" id="field_legacyProducer4"
                   ng-model="vm.projectsDTO.projects.legacyProducer4" type="text"
                   placeholder="" class="form-control input-sm">

        </div>

    </div>
    <div class="row">

        <label class="col-md-1 control-label small" for="textinput">Notes</label>
        <div class="col-xs-7">
            <textarea class="form-control input-sm" rows="1" id="textinput"
                      ng-model="vm.projectsDTO.projects.projectInfoNotes"></textarea>

        </div>
    </div>
    <hr>

    <h4>Production Company Information</h4>

    <div class="row">
        <label class="col-md-1 control-label text-danger small"
               for="field_vm.projects.productCompany">Name</label>
        <div class="col-md-2">
            <div class="input-group">

				<span class="input-group-btn">
					<button type="button"
                            ng-click="vm.openModal('field_vm.projects.productCompany')"
                            class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-list-alt"></span>
					</button>
				</span> <input id="field_vm.projects.productCompany" type="text"
                               class="form-control input-sm"
                               ng-model="vm.projectsDTO.projects.productionCompanyContact.fullName"
                               ng-click="vm.lookUpContact(vm.projectsDTO.projects.productionCompanyContact.id)" readonly>
            </div>

        </div>
    </div>
    <div class="row">
        <label class="col-xs-1 control-label small"> Main <span
            class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyContact.phoneOffice"
                   readonly>

        </div>
        <label class="col-md-1 control-label small">Alt</label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyContact.phoneAlternate"
                   readonly>

        </div>
        <label class="col-md-1 control-label small">Fax</label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyContact.phoneFax"
                   readonly>

        </div>
    </div>
    <div class="row">
        <label class="col-xs-1 control-label small">Address </label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyContact.streetAddress"
                   readonly/>

        </div>
        <label class="col-xs-1 control-label small">City </label>
        <div class="col-xs-2">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyContact.city"
                   readonly/>

        </div>
        <label class="col-xs-1 control-label small">State </label>
        <div class="col-xs-1">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyContact.state"
                   readonly/>
        </div>
        <label class="col-xs-1 control-label small">Zip Code </label>
        <div class="col-xs-1">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyContact.zipcode"
                   readonly/>
        </div>
        <label class="col-xs-1 control-label small">Country </label>
        <div class="col-xs-1">

            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyContact.country"
                   readonly/>

        </div>
    </div>
    <div class="row">

        <label class="col-md-1 control-label small">Notes</label>
        <div class="col-xs-7">
			<textarea class="form-control input-sm" rows="1"
                      ng-model="vm.projectsDTO.projects.productionCompanyNotes"></textarea>

        </div>

    </div>
    <br>
    <div class="row">

        <label class="col-md-1 control-label small">FEDEX</label>
        <div class="col-xs-7">
            <input type="text" class="form-control input-sm"
                   ng-model="vm.projectsDTO.projects.productionCompanyShippingNumber"/>

        </div>

    </div>

    <hr>

    <br>

    <h4>Name/ID/Password</h4>

    <div class="row">
        <div class="col-sm-3">
            <h5>
                TALENTS <a href="" ng-click="vm.addTalent()"><span
                class=" glyphicon glyphicon-plus-sign text-danger small"></span></a>
            </h5>
        </div>
        <div class="pull-right">
            <div class="btn-toolbar btn-toolbar-xs" role="toolbar">

                <button type="button" class="btn btn-primary btn-xs"
                        ng-click="vm.getTags(vm.projectsDTO.projects.id)">
                    View/Edit Tags
                </button>

                <button type="button" class="btn btn-primary btn-xs"
                        ng-click="vm.getPrivileges(vm.projectsDTO.projects.id)">
                    View/Edit Privileges
                </button>

                <button type="button" class="btn btn-primary btn-xs"
                        ng-click="vm.getAlbums(vm.projectsDTO.projects.id)">
                    View/Edit Albums
                </button>

                <button type="button" ng-click="vm.disableEXT()" class="btn btn-primary btn-xs">Disable
                    Ext. Users
                </button>

                <button type="button" ng-click="vm.enableEXT()" class="btn btn-primary btn-xs">Enable
                    Ext. Users
                </button>

                <button type="button" ng-click="vm.clearRestart()" class="btn btn-danger btn-xs">Clear
                    All Restart
                </button>
                <button type="button" class="btn btn-success btn-xs"
                        ng-click="vm.sendMail(vm.projectsDTO.projectRoles)">
                    Send Mails <span class=" glyphicon glyphicon-envelope small"></span>
                </button>
            </div>
        </div>
    </div>

    <table class="jh-table table table-striped">
        <tr>
            <th class="small">#</th>
            <th></th>
            <th class="small">Username</th>
            <th class="small">Password</th>
            <th class="small col-xs-1">Solo</th>
            <th class="small col-xs-1">Group</th>
            <th class="small col-xs-1">Group +</th>
            <th class="small">Character Name</th>
            <th class="small">Disabled</th>
            <th></th>
        </tr>
        <tr
            ng-repeat="tags in vm.projectsDTO.projectRoles |  filter: { relationship_type: 'PKO_Tag'} | orderBy:'-tags.contact.id'">
            <td class="small">{{$index + 1}}</td>
            <td class="col-xs-1">

                <div class="input-group">

					<span class="input-group-btn input-xs">
						<button type="button"
                                ng-click="vm.openModal('field_vm.projects.talents')"
                                class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-list-alt btn-xs"></span>
						</button>
					</span> <input type="text" id="field_vm.projects.talents" class="input-xs"
                                   ng-model="tags.contact.fullName" ng-click="vm.lookUpContact(tags.contact.id)"  readonly/>
                </div>

            </td>

            <td><input class="input-xs" type="text"
                       ng-model="tags.contact.username" readonly></td>
            <td><input class="input-xs" type="text"
                       ng-model="tags.contact.password" readonly/></td>

            <td class="col-xs-1"><input class="input-xs" style="width: 50px"
                                        id="field_vm.projectRoles.soloKillPct" type="text"
                                        ng-model="tags.soloKillPct"></td>

            <td><input class="input-xs"
                       id="field_vm.projectRoles[$index].groupKillPct" style="width: 50px"
                       type="text" ng-model="tags.groupKillPct"></td>
            <td><input class=" input-xs" id="field_groupPlus"
                       style="width: 50px" type="text"></td>

            <td><input class="input-xs"
                       id="field_vm.projectRoles[$index].characterName" type="text"
                       ng-model="tags.characterName"></td>

            <td><input class="input-xs" type="checkbox"
                       ng-model="tags.disabled"></td>

            <td><a href="" ng-click="vm.editPrivilege(tags.contact.id)"><span
                class=" glyphicon glyphicon-info-sign small text-primary"></span></a> |
                <a href="" ng-click="vm.sendIndividualMail(tags)"><span
                    class=" glyphicon glyphicon-envelope small text-success"></span></a> |
                <a href="" ng-click="vm.removeTalent(tags.id)"><span
                    class=" glyphicon glyphicon-trash small text-danger"></span></a></td>
        </tr>
    </table>
    <div class="row">

        <label class="col-md-1 control-label small">Additional</label>
        <div class="col-xs-11">
            <textarea rows="1" class="form-control input-sm"
                      ng-model="vm.projectsDTO.projects.legacyAdditionalTalent"></textarea>

        </div>

    </div>
    <hr>

    <div class="row">
        <div class="col-sm-3">
            <h5>
                EXECS <a href="" ng-click="vm.addExec()"><span
                class=" glyphicon glyphicon-plus-sign text-danger small"></span></a>
            </h5>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-success btn-xs"
                    ng-click="vm.sendMail(vm.projectsDTO.contactPrivileges)">
                Send Mails <span class=" glyphicon glyphicon-envelope small"></span>
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th class="small"><a href
                                 ng-click="vm.openMultipleExecs('multipleExecs')">Add Multiple
                Execs</a></th>
            <th class="small">Username</th>
            <th class="small">Password</th>
            <th class="small">Download</th>
            <th class="small">Print</th>
            <th class="small">Caption</th>
            <th class="small">Email</th>
            <th class="small">Talent-MGMT</th>
            <th class="small">SO-MGMT</th>
            <th class="small">PP</th>
            <th class="small">Rel/Ex</th>
            <th class="small">Ven</th>
            <th class="small">L/A</th>
            <th class="small">Sens</th>
            <th class="small">Exclusives</th>
            <th class="small">Sees UnPub</th>
            <th class="small">Vid</th>
            <th class="small">Disabled</th>
            <th class="small"></th>
        </tr>
        <tr ng-repeat="execs in vm.projectsDTO.contactPrivileges | filter:{exec:true}">
            <td class="small">{{$index + 1}}</td>
            <td class="col-xs-1">

                <div class="input-group">

					<span class="input-group-btn input-xs">
						<button type="button"
                                ng-click="vm.openModal('field_vm.projects.execs')"
                                class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-list-alt btn-xs"></span>
						</button>
					</span> <input type="text" id="field_vm.projects.execs" class="input-xs"
                                   ng-model="execs.contact.fullName" ng-click="vm.lookUpContact(execs.contact.id)" readonly/>
                </div>

            </td>
            <td><input type="text" ng-model="execs.contact.username" readonly/></td>
            <td><input type="text" ng-model="execs.contact.password" readonly/></td>
            <td><select ng-model="execs.downloadType"
                        ng-options="excl.id as excl.value for excl in vm.downloadType">
                <option>{{excl.value}}</option>
            </select></td>
            <td><input type="checkbox" ng-model="execs.print"/></td>
            <td><input type="checkbox" ng-model="execs.captioning"/></td>
            <td><input type="checkbox" ng-model="execs.email"/></td>
            <td><input type="checkbox" ng-model="execs.talentManagement"/>
            </td>
            <td><input type="checkbox" ng-model="execs.signoffManagement"/>
            </td>
            <td><input type="checkbox" ng-model="execs.priorityPix"/></td>
            <td><input type="checkbox" ng-model="execs.releaseExclude"/></td>
            <td><input type="checkbox" ng-model="execs.vendor"/></td>
            <td><input type="checkbox"
                       ng-model="execs.lockApproveRestriction"/></td>
            <td><input type="checkbox" ng-model="execs.viewSensitive"/></td>
            <td><select ng-model="execs.exclusives"
                        ng-options="excl.id as excl.value for excl in vm.exclusives">
                <option>{{excl.value}}</option>
            </select></td>

            <td><input type="checkbox" ng-model="execs.seesUntagged"/></td>
            <td><input type="checkbox" ng-model="execs.hasVideo"/></td>
            <td><input type="checkbox" ng-model="execs.disabled"/></td>

            <td><a href="" ng-click="vm.editPrivilege(execs.contact.id)"><span
                class=" glyphicon glyphicon-info-sign small text-primary"></span></a> |
                <a href="" ng-click="vm.sendIndividualMail(execs)"><span
                    class=" glyphicon glyphicon-envelope small text-success"></span></a> |
                <a href="" ng-click="vm.removeExec(execs.id)"><span
                    class=" glyphicon glyphicon-trash small text-danger"></span></a></td>
        </tr>

    </table>
    <DIV id="bottom"></div>

    <hr>
    EXPANDED TALENT INFORMATION
    <div
        ng-repeat="tags in vm.projectsDTO.projectRoles |  filter: { relationship_type: 'PKO_Tag'} | filter: isGeneric">

        <div class="row">
            <label class="col-md-1 control-label small">Talent
                {{$index+1}}</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm" readonly
                       ng-model="tags.contact.fullName">
            </div>
            <label class="col-md-1 control-label small">Character</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm" readonly
                       ng-model="tags.characterName">
            </div>
            <label class="col-md-1 control-label small">StartDate</label>
            <div class="col-sm-2">
                <input type="date" class="form-control input-sm" readonly
                       ng-model="tags.startDate">
            </div>
            <label class="col-md-1 control-label small">Days</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm" readonly
                       ng-model="tags.daysWorking">
            </div>
        </div>
        <!--Display Primary Contact-->


        <div class="row">
            <label class="col-md-1 control-label small">Contact</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm"
                       ng-model="vm.relatedContact[$index].fullName" readonly>
            </div>
            <label class="col-md-1 control-label small">Type</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm"
                       ng-model="vm.relatedContact[$index].type.textValue" readonly>
            </div>
            <label class="col-md-1 control-label small">Company</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm"
                       ng-model="vm.relatedContact[$index].companyContact.fullName"
                       readonly>
            </div>

        </div>
        <div class="row">
            <label class="col-md-1 control-label small">Phone</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm"
                       ng-model="vm.relatedContact[$index].phoneCompany" readonly>
            </div>
            <label class="col-md-1 control-label small">Email</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm"
                       ng-model="vm.relatedContact[$index].email" readonly>
            </div>
            <label class="col-md-1 control-label small">Mobile</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm"
                       ng-model="vm.relatedContact[$index].phoneMobile" readonly>
            </div>

        </div>
        <div class="row">
            <label class="col-md-1 control-label small">Asst/Notes</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-xs"
                       ng-model="vm.relatedContact[$index].notes" readonly>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 control-label small">Notes</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-sm" ng-model="tags.notes">
            </div>
        </div>
        <br>

        <hr>
    </div>


    <br>


    <hr>
    <h4>Parent Company Information</h4>
    <div class="row">
        <label class="col-md-1 control-label text-danger small"
               for="field_vm.projects.parentInfo">Name</label>
        <div class="col-md-3">
            <div class="input-group">

				<span class="input-group-btn">

					<button type="button"
                            ng-click="vm.openModal('field_vm.projects.parentInfo')"
                            class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-list-alt"></span>
					</button>
				</span> <input type="text" id="field_vm.projects.parentInfo"
                               class="form-control input-sm"
                               ng-model="vm.projectsDTO.projects.parentCompanyContact.fullName" ng-click="vm.lookUpContact(vm.projectsDTO.projects.parentCompanyContact.id)">
            </div>
        </div>
    </div>
    <br>
</form>
