<div class="modal-header">
    <button type="button" class="close danger" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.close()">&times;</button>

    <div class="btn-toolbar btn-toolbar-xs" role="toolbar">

        <button type="button" class="btn btn-success btn-xs" ng-click="vm.add()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Albums
        </button>
    </div>

</div>
<div class="modal-body">
    <table class="jh-table table table-striped">
        <tr>
            <th></th>
            <th class="small">Album Name</th>
            <th class="small">Album Description</th>
            <th class="small"></th>
        </tr>

        <tr ng-repeat="tags in vm.albums.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy : 'type'">

            <td class="small"><button type="button" class="btn btn-primary btn-xs" ng-click="vm.select(tags)">Select</button></td>
            <td class="small"><input type="text" value="{{tags.type}}" ng-model="tags.type" class="input-xs" readonly></td>
            <td class="small"><input type="text" value="{{tags.value}}" ng-model="tags.value" class="input-xs" readonly></td>
            <!--<td class="text-right small">
                <div class="btn-group flex-btn-group-container">

                    <button type="button" class="btn btn-primary btn-xs" ng-click="vm.edit(tags)">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                    <button type="button"
                            class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove-circle" ng-click="vm.remove(tags)"></span>
                    </button>

                </div>
            </td>-->
        </tr>
    </table>
    <div class="text-center">
        <h5>Page: {{currentPage}} / {{numPages}} of Albums</h5>
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                        boundary-links="true" rotate="false" num-pages="numPages"
                        items-per-page="itemsPerPage"></uib-pagination>
    </div>



</div>
