<div>
    <h2 translate="smartLpcApp.workOrdersAdminRelation.home.title">WorkOrdersAdminRelations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="work-orders-admin-relation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="smartLpcApp.workOrdersAdminRelation.home.createLabel">
                        Create new WorkOrdersAdminRelation
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'smartLpcApp.workOrdersAdminRelation.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workOrder.id"><span translate="smartLpcApp.workOrdersAdminRelation.workOrder">workOrder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="admin_user.firstName"><span translate="smartLpcApp.workOrdersAdminRelation.admin_user">admin_user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="relation_type.relation"><span translate="smartLpcApp.workOrdersAdminRelation.relation_type">relation_type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workOrdersAdminRelation in vm.workOrdersAdminRelations track by workOrdersAdminRelation.id">
                    <td><a ui-sref="work-orders-admin-relation-detail({id:workOrdersAdminRelation.id})">{{workOrdersAdminRelation.id}}</a></td>
                    <td>
                        <a ui-sref="work-order-detail({id:workOrdersAdminRelation.workOrder.id})">{{workOrdersAdminRelation.workOrder.id}}</a>
                    </td>
                    <td>
                        {{workOrdersAdminRelation.admin_user.firstName}}
                    </td>
                    <td>
                        <a ui-sref="relation-type-detail({id:workOrdersAdminRelation.relation_type.id})">{{workOrdersAdminRelation.relation_type.relation}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="work-orders-admin-relation-detail({id:workOrdersAdminRelation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-orders-admin-relation.edit({id:workOrdersAdminRelation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-orders-admin-relation.delete({id:workOrdersAdminRelation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
