<div>
    <h2 translate="smartLpcApp.storage_Disk.home.title">Storage_Disks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="storage-disk.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="smartLpcApp.storage_Disk.home.createLabel">
                        Create new Storage_Disk
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'smartLpcApp.storage_Disk.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="smartLpcApp.storage_Disk.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="size"><span translate="smartLpcApp.storage_Disk.size">Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="used"><span translate="smartLpcApp.storage_Disk.used">Used</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="available"><span translate="smartLpcApp.storage_Disk.available">Available</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usePercent"><span translate="smartLpcApp.storage_Disk.usePercent">UsePercent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdated"><span translate="smartLpcApp.storage_Disk.lastUpdated">LastUpdated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reserved"><span translate="smartLpcApp.storage_Disk.reserved">Reserved</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="server.name"><span translate="smartLpcApp.storage_Disk.server">server</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="storage_Disk in vm.storage_Disks track by storage_Disk.id">
                    <td><a ui-sref="storage-disk-detail({id:storage_Disk.id})">{{storage_Disk.id}}</a></td>
                    <td>{{storage_Disk.name}}</td>
                    <td>{{storage_Disk.size}}</td>
                    <td>{{storage_Disk.used}}</td>
                    <td>{{storage_Disk.available}}</td>
                    <td>{{storage_Disk.usePercent}}</td>
                        <td>{{storage_Disk.lastUpdated | date:'mediumDate'}}</td>
                    <td>{{storage_Disk.reserved}}</td>
                    <td>
                        <a ui-sref="storage-servers-detail({id:storage_Disk.server.id})">{{storage_Disk.server.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="storage-disk-detail({id:storage_Disk.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="storage-disk.edit({id:storage_Disk.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="storage-disk.delete({id:storage_Disk.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
