<div>
    <h3 align="center">Included/Comp</h3>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary btn-sm" ui-sref="work-order.add">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="smartLpcApp.workOrder.home.createLabel">
                        Create new WorkOrder
                    </span>
                </button>
            </div>
            <!--<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control input-sm" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'smartLpcApp.workOrder.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info btn-sm" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info btn-sm" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>-->
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">

                <th jh-sort-by="id" class="extra-small"><span translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="requestDate" class="extra-small"><span translate="smartLpcApp.workOrder.requestDate">RequestDate</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="requestDescription" class="extra-small"><span translate="smartLpcApp.workOrder.requestDescription">RequestDescription</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="poRecord" class="extra-small"><span translate="smartLpcApp.workOrder.poRecord">PoRecord</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="invoiced" class="extra-small"><span translate="smartLpcApp.workOrder.invoiced">Invoiced</span> <span
                    class="glyphicon glyphicon-sort"></span></th>

                <th jh-sort-by="durationOfService" class="extra-small"><span translate="smartLpcApp.workOrder.durationOfService">DurationOfService</span>
                    <span class="glyphicon glyphicon-sort"></span></th>

                <th jh-sort-by="type.textValue" class="extra-small"><span translate="smartLpcApp.workOrder.type">type</span> <span
                    class="glyphicon glyphicon-sort"></span></th>

                <th jh-sort-by="status.textValue" class="extra-small"><span translate="smartLpcApp.workOrder.status">status</span> <span
                    class="glyphicon glyphicon-sort"></span></th>

                <th jh-sort-by="project.name" class="extra-small"><span translate="smartLpcApp.workOrder.project">project</span> <span
                    class="glyphicon glyphicon-sort"></span></th>

                <th jh-sort-by="assignedToUser.firstName" class="extra-small"><span translate="smartLpcApp.workOrder.assignedToUser">assignedToUser</span>
                    <span class="glyphicon glyphicon-sort"></span></th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="workOrder in vm.workOrders.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
                ng-class="{
                verify: workOrder.color == 'Orange',
                notstarted: workOrder.color == 'Yellow',
                rush: workOrder.color == 'Red',
                kickback: workOrder.color == 'Blue',
                owners: workOrder.color == 'LightBlue'
                }">


                <td class="col-xs-1 extra-small">
                    <div ng-if="workOrder.id != HIDE">
                        <a ui-sref="work-order-detail({id:workOrder.id})">{{workOrder.id}}</a>
                    </div>
                </td>
                <td class="col-xs-2 extra-small">
                    <div ng-if="workOrder.id == HIDE">
                        <strong>{{workOrder.project_name}}</strong>
                    </div>
                    <div ng-if="workOrder.id != HIDE">
                        {{workOrder.project_name}}
                    </div>
                </td>
                <td class="col-xs-1 extra-small">
                    <div ng-if="workOrder.id != HIDE">
                        {{workOrder.po}}
                    </div>
                </td>
                <td class="col-xs-1 extra-small">{{workOrder.date}}</td>
                <td class="extra-small">{{workOrder.type}}</td>
                <td class="extra-small">{{workOrder.workDesc}}</td>
                <td class="col-xs-1 extra-small">{{workOrder.status}}</td>
                <td class="extra-small">{{workOrder.time}}</td>
                <td class="extra-small">{{workOrder.assignedTo}}</td>


                <td class="text-right extra-small">
                    <div ng-if="workOrder.id != HIDE">


                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="work-order-detail({id:workOrder.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-order.edit({id:workOrder.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>

                            </button>
                            <button type="submit"
                                    ui-sref="work-order.delete({id:workOrder.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">

        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                        boundary-links="true" rotate="false" num-pages="numPages"
                        items-per-page="itemsPerPage"></uib-pagination>
        <pre>Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>
