<div>
    <h3 align="center">To Invoice</h3>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary btn-sm" ui-sref="work-order.add">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="smartLpcApp.workOrder.home.createLabel">
                        Create new WorkOrder
                    </span>
                </button>
            </div>
           <!-- <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control input-sm" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'smartLpcApp.workOrder.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info btn-sm" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info btn-sm" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>-->
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-hover">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">

                <th jh-sort-by="id" class="extra-small">ID <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="requestDate" class="extra-small">Project Name<span class="glyphicon glyphicon-sort"></span>
                </th>
                <th jh-sort-by="requestDescription" class="extra-small">PO#<span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="poRecord" class="extra-small">Date <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="invoiced" class="extra-small">Type <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="invoiced" class="extra-small">PKO <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="durationOfService" class="extra-small">Work Description<span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type.textValue" class="extra-small">Status<span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="status.textValue" class="extra-small">Time(Hours)<span
                    class="glyphicon glyphicon-sort"></span></th>

                <th jh-sort-by="project.name" class="extra-small">Assigned To <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="project.name" class="extra-small">Audited <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="project.name" class="extra-small">Audited By <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="project.name" class="extra-small">Invoiced <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="workOrder in vm.workOrders.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
                ng-class="{
                verify: workOrder.color == 'Orange',
                notstarted: workOrder.color == 'Yellow',
                rush: workOrder.color == 'Red',
                kickback: workOrder.color == 'Blue'
                }">


                <td class="extra-small"><a ui-sref="work-order-detail({id:workOrder.id})">{{workOrder.id}}</a></td>
                <td class="col-xs-2 extra-small">{{workOrder.project_name}}</td>
                <td class="col-xs-1 extra-small">{{workOrder.po}}</td>
                <td class="col-xs-1 extra-small">{{workOrder.date}}</td>
                <td class="extra-small">{{workOrder.type}}</td>
                <td class="extra-small">{{workOrder.pko}}</td>
                <td class="extra-small">{{workOrder.workDesc}}</td>
                <td class="col-xs-1 extra-small">{{workOrder.status}}</td>
                <td class="extra-small">{{workOrder.time}}</td>
                <td class="extra-small">{{workOrder.assignedTo}}</td>
                <td class="extra-small">{{workOrder.audited}}</td>
                <td class="extra-small">{{workOrder.auditedBy}}</td>
                <td class="extra-small">{{workOrder.invoiced}}</td>


                <td class="text-right extra-small">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="work-order-detail({id:workOrder.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ui-sref="work-order.edit({id:workOrder.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>

                        </button>
                        <button type="submit"
                                ui-sref="work-order.delete({id:workOrder.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">

        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                        boundary-links="true" rotate="false" num-pages="numPages"
                        items-per-page="itemsPerPage"></uib-pagination>
        <pre>Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>
</div>
