<div>
    <h3 translate="smartLpcApp.contacts.home.title" align="center">Contacts</h3>

    <!--<jhi-alert></jhi-alert>-->
    <div class="container-fluid" >
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary btn-sm" ui-sref="contacts.add">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="smartLpcApp.contacts.home.createLabel">
                        Create new Contacts
                    </span>
                </button>

            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control input-sm" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'smartLpcApp.contacts.home.search' | translate }}" autofocus="autofocus">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info btn-sm" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info btn-sm" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>


        </div>

    </div>
    <br>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
           <!-- <table class="table table-fixed-head" data-table-fixed-head-trigger="0" data-table-fixed-head-top="0">-->
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th></th>

                <th jh-sort-by="fullName"><span translate="smartLpcApp.contacts.fullName" class="extra-small">FullName</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="companyContact.fullName"><span translate="smartLpcApp.contacts.companyContact"
                                                               class="extra-small">companyContact</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span translate="smartLpcApp.contacts.email" class="extra-small">Email</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="title"><span translate="smartLpcApp.contacts.title" class="extra-small">Title</span> <span
                    class="glyphicon glyphicon-sort"></span></th>


                <th jh-sort-by="phoneOffice"><span translate="smartLpcApp.contacts.phoneOffice" class="extra-small">PhoneOffice</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="phoneMobile"><span translate="smartLpcApp.contacts.phoneMobile" class="extra-small">PhoneMobile</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type.textValue"><span translate="smartLpcApp.contacts.type"
                                                      class="extra-small">type</span> <span
                    class="glyphicon glyphicon-sort"></span></th>


            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contacts in vm.contacts track by contacts.id">
                <td class="text-left extra-small">
                    <div class="btn-group pull-left flex-btn-group-container">
                        <!--<button type="submit"
                                ui-sref="contacts.project-permission({id:contacts.id})" ui-sref-opts="{reload: true, notify: true}"
                                class="btn btn-primary btn-sm" uib-tooltip="Project Permissions">

                                <span class="glyphicon glyphicon-film"></span>

                            &lt;!&ndash;<span class="hidden-xs hidden-sm" translate="entity.action.view"></span>&ndash;&gt;
                        </button>
--><button type="submit"
           ui-sref="contacts.edit({id:contacts.id})" ui-sref-opts=ur
           class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                        <!--<span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>-->
                    </button>
                        <button type="submit"
                                ui-sref="contacts-detail({id:contacts.id})" ui-sref-opts="{reload: true, notify: true}"
                                class="btn btn-info btn-sm" >
                            <span class="glyphicon glyphicon-eye-open"></span> View
                            <!--<span class="hidden-xs hidden-sm" translate="entity.action.view"></span>-->
                        </button>

                        <!--<button type="submit"
                                ui-sref="contacts.delete({id:contacts.id})"
                                class="btn btn-danger btn-sm" uib-tooltip="Remove">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            &lt;!&ndash;<span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>&ndash;&gt;
                        </button>-->
                    </div>
                </td>


                <td class="extra-small">{{contacts.fullName}}</td>
                <td class="extra-small">
                    {{contacts.companyContactFullName}}
                </td>
                <td class="extra-small">{{contacts.title}}</td>
                <td class="extra-small">{{contacts.email}}</td>

                <td class="extra-small">{{contacts.phoneOffice}}</td>

                <td class="extra-small">{{contacts.phoneMobile}}</td>

                <td class="extra-small">
                    {{contacts.typeValue}}
                </td>



            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                        ng-change="vm.transition()"></uib-pagination>
    </div>
</div>


<br/>





