<div>
    <h2 translate="smartLpcApp.contacts.home.title">Contacts</h2>
    <h4>Select a Contact</h4>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="contacts.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="smartLpcApp.contacts.home.createLabel">
                        Create new Contacts
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'smartLpcApp.contacts.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th></th>
                <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>

                <th jh-sort-by="fullName"><span translate="smartLpcApp.contacts.fullName">FullName</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="title"><span translate="smartLpcApp.contacts.title">Title</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span translate="smartLpcApp.contacts.email">Email</span> <span
                    class="glyphicon glyphicon-sort"></span></th>

                <th jh-sort-by="phoneOffice"><span translate="smartLpcApp.contacts.phoneOffice">PhoneOffice</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="phoneMobile"><span translate="smartLpcApp.contacts.phoneMobile">PhoneMobile</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type.textValue"><span translate="smartLpcApp.contacts.type">type</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="companyContact.fullName"><span translate="smartLpcApp.contacts.companyContact">companyContact</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contacts in vm.contacts track by contacts.id">
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ng-click="vm.selectedContact(contacts.id)"
                                class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>Select
                        </button>
                    </div>
                </td>
                <td><a ui-sref="contacts-detail({id:contacts.id})">{{contacts.id}}</a></td>

                <td>{{contacts.fullName}}</td>
                <td>{{contacts.title}}</td>
                <td>{{contacts.email}}</td>

                <td>{{contacts.phoneOffice}}</td>

                <td>{{contacts.phoneMobile}}</td>

                <td>
                    <a ui-sref="lookups-detail({id:contacts.type.id})">{{contacts.type.textValue}}</a>
                </td>

                <td>
                    <a ui-sref="contacts-detail({id:contacts.companyContact.id})">{{contacts.companyContact.fullName}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="contacts-detail({id:contacts.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="contacts.edit({id:contacts.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                        ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
